// based on iphone SE / 6
@media only screen and (min-width: 334px) {
	.header {
		padding: 2rem 1.5rem;
	}
	.reels {
		display: flex;
	}
	.reel {
		margin: 0 1rem 1rem;
		font-size: 2.7rem;
	}
	.screen {
		// border -- golden frame IMG
		&__border {
			width: 320px;
			height: 440px;
			transform: translate(-50%, -31%);
		}
	}
	.gui {
		&__spin-btn {
            margin: 1rem;
			padding: 0.6rem 1.2rem;
		}
	}
}
