* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
	overflow: hidden;
	font-size: 62.5%;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 1rem;
	background-color: lightblue;
	height: 23vh;

	&__rules-btn {
		font-size: 1.2rem;
		background-color: transparent;
		border: none;
		z-index: 22;
	}

	&__funds-btn {
		height: 30%;
		background-color: green;
		z-index: 22;
	}
}
.slot {
	&__screen {
		display: flex;
		justify-content: center;
		height: 230px;
	}

	&__machine {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;

		top: 0%;
		left: 50%;
		transform: translate(-50%, 0);
		height: 330px;

		transition: transform 0.8s;
		z-index: -2;

		&--active {
			transform: translate(-50%, -266%);
		}
	}
}
.reels {
	display: flex;
}
.reel {
	margin: 0.8rem 0.8rem;
	font-size: 2.2rem;
}

.gui {
	
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* outline: 2px solid gold; */

	background-color: lightblue;

	&__msg {
		font-size: 1.4rem;
		text-align: center;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__buttons > * {
		font-size: 1.2rem;
		margin: 0.5rem;
	}
	&__spin-btn {
		padding: 0.3rem 0.6rem;
		background-color: gold;
		border-radius: 33%;
	}
	&__stake {
		display: flex;
		flex-direction: column;
	}
}
.screen {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	&__border {
		z-index: 1;
		position: absolute;
		width: 265px;
		height: 400px;

		top: -23%;
		overflow: hidden;
	}
	&__win {
		background-color: rgba(245, 245, 220, 0.626);
		font-weight: bold;
		font-size: 1.5rem;
	}
	&__jackpot {
		background-color: beige;
		font-size: 1.6rem;
	}
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3vh;
	text-align: center;
	font-size: 0.7rem;
	background-color: lightblue;
	border-top: 1px solid grey;
}
