* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
	overflow: hidden;
	font-size: 62.5%;
}

/* @media only screen and (max-width: 600px) { */
.logo {
	display: flex;
	justify-content: center;

	padding-top: 1rem;
}
.logo img {
	width: 250px;
}

.slot__machine {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	height: 330px;
	transition: transform 1s;

	border: 1px solid red;
}
.slot__machine--active {
	transform: translate(-50%, -430%);
}
.reels {
	display: flex;
}
.reel {
	margin: 0 2rem 2rem;
	font-size: 4rem;
}

.slot__button {
	position: absolute;
	top: 60%;
	outline: 2px solid red;
	width: 100%;
	background-color: lightblue;
}
/* } */
