* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
	overflow: hidden;
	font-size: 62.5%;
}

/* @media only screen and (max-width: 600px) { */
.logo {
	display: flex;
	justify-content: center;

	padding-top: 1rem;
}
.logo img {
	width: 250px;
}

.slot__machine {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	height: 330px;
	transition: top 1s;

	border: 1px solid red;
}
.slot__machine--active {
	top: -1230%;
}
.reels {
	display: flex;
}
.reel {
	margin: 0 2rem 2rem;
	font-size: 4rem;
}

.slot__button {
	background-color: beige;
	z-index: -5;
}
/* } */
