* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
	overflow: hidden;
	font-size: 62.5%;
}

/* @media only screen and (max-width: 600px) { */
/* .header {
	display: flex;
	justify-content: center;
	background-color: lightblue;
	height: 25vh;
	padding-top: 1rem;
}
.header img {
	width: 250px;
}
.slot__screen {
	display: flex;
	justify-content: center;
	height: 330px;
}
.screen__border {
	z-index: 1;
	position: absolute;
	width: 696px;
	height: 750px;
	top: -35.8%;
}
.slot__machine {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 330px;

	transition: transform 0.8s;
	z-index: -2;
}
.slot__machine--active {
	transform: translate(-50%, -430%);
}
.reels {
	display: flex;
}
.reel {
	margin: 0 2rem 2rem;
	font-size: 4rem;
}

.gui {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4fr;

	height: 360px;
	/* outline: 2px solid red; */
/* background-color: lightblue;
}

.gui__msg {
	font-size: 1.4rem;
	text-align: center;
}

.gui__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gui__buttons > * {
	margin: 0 3.5rem;
}
.gui__spin_btn {
	padding: 1rem 2rem;
	border-radius: 33%;
}
.gui__stake {
	display: flex;
	flex-direction: column;
}
/* } */
/* .slot__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	text-align: center;
	font-size: 0.9rem;
	background-color: lightblue;
	border-top: 1px solid grey;
}
/* te guziczki do refaktoru - DRY */
/* .gui__stake--up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-bottom: 20px solid rgb(17, 133, 91);

	background: transparent;
	z-index: 10;
}
.gui__stake--down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(132, 12, 12);
	background: transparent;
	z-index: 10;
} */

/* smooth smarptohnes like fold  :') */
@media only screen and (max-width: 333px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		border: 2px solid blue;

		font-size: 62.5%;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 1rem;
		background-color: lightblue;
		height: 23vh;
	}
	.header__rules-btn {
		font-size: 1.2rem;
		background: transparent;
		border: none;
	}
	.header__funds-btn {
		height: 30%;
		background-color: green;
	}
	/* HERO IMG - screen for reels */
	.slot__screen {
		display: flex;
		justify-content: center;
		height: 230px;

		/* border: 2px solid green; */
	}
	/* golden border  */
	.screen__border {
		z-index: 1;
		position: absolute;
		width: 265px;
		height: 400px;

		top: -23%;
		overflow: hidden;
	}

	.slot__machine {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;

		top: 0%;
		left: 50%;
		transform: translate(-50%, 0);
		height: 330px;

		transition: transform 0.8s;
		z-index: -2;

		/* border: 3px solid grey; */
	}
	.slot__machine--active {
		transform: translate(-50%, -266%);
	}
	.reels {
		display: flex;
	}
	.reel {
		margin: 0.8rem 0.8rem;
		font-size: 2.2rem;
	}

	.gui {
		padding-top: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 257px;

		/* outline: 2px solid gold; */

		background-color: rgb(173, 216, 230);
	}

	.gui__msg {
		font-size: 1.4rem;
		text-align: center;
	}

	.gui__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.gui__buttons > * {
		font-size: 1.2rem;
		/* margin: 0 0.5rem; */
		margin: 0.5rem;
	}
	.gui__spin_btn {
		padding: 0.3rem 0.6rem;
		background-color: gold;
		border-radius: 33%;
	}
	.gui__stake {
		display: flex;
		flex-direction: column;
	}
	/* } */
	.slot__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 15px;
		text-align: center;
		font-size: 0.7rem;
		background-color: lightblue;
		border-top: 1px solid grey;
	}
	/* te guziczki do refaktoru - DRY */
	.gui__stake--up {
	}
	.gui__stake--down {
	}
}
