* {
	overflow: hidden;
}
.slot__machine {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: -23%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	transition: top 0.9s;
}
.slot__machine--active {
	top: 32%;
}
.slot__background {
	position: absolute;
	height: 36%;
	width: 100%;
	/* border: 1px solid red; */
	z-index: 2;
	background-color: #ffffff;
}
.slot__screen {
	position: absolute;
	left: 50%;
	top: 37.15%;
	transform: translate(-50%);
	border: 1px solid green;
	width: 200px;
	height: 185px;
	z-index: 60;
}
.reels {
	display: flex;
}

.reel {
	width: 50px;
	height: 50px;
	/* border: 1px solid #000; */
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	transition: height 0.5s;
}

.slot__button {
	position: absolute;
	top: 57%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	height: 460px;
	width: 100%;
	/* border: 1px solid red; */
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	z-index: 50;
}
button {
width: 10%;
	height: 10%;
	font-size: 16px;
	cursor: pointer;
}
